// Basic Definitions
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $primary-color;
}

a:focus {
  outline: none;
}

ul,
ol {
  list-style: none;
}

::selection {
  background: $primary-color;
  color: $white;
}

html {
  height: 100%;
}

html {
  font-size: 62.5%;

  @media (min-width: $md) {
    font-size: 50%;
  }
  
  @media (min-width: $lg) {
    font-size: 62.5%;
  }
  /*@media (min-width: 1200px) {
    font-size: 50%;
  }
  @media (min-width: 1800px) {
    font-size: 75%;
  }*/
}

body {
  background: $body-bg;
  min-height: 100%;
}

.wrapper {
  position: relative;
  min-height: 80rem;
}

.body-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  display: flex;

  &__main {
    background: url('../images/body-bg.png') no-repeat center top;
    position: sticky;
    width: 100%;
    min-height: 80rem;
    bottom: 0;
    align-self: flex-end;
  }
}

.container-fluid {
  max-width: $layout-max-width;
  background: $white;
  padding-left: 3rem;
  padding-right: 3rem;
}

.overlay {
  background: rgba($black, .5);
  z-index: $overlayZIndex;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.simplebar-scrollbar {
  background: $black;
  border-radius: 5px;
}

.simplebar-track {
  background: #d3d3d3;
  border-radius: 5px;
}

.simplebar-vertical {
  width: 4px !important;  
}

.simplebar-horizontal {
  height: 4px !important;  
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
  top: 0;
  height: 100%;
}

.js-custom-scroll {
  overflow-y: auto;
  overflow-x: hidden;
}