::placeholder {
  color: $dark--medium;
  font-size: 1.4rem;
}

input {
  padding: 1rem 1.5rem;
  border: none;
  width: 100%;
  border: 1px solid $gray--medium;
  // border-radius: 3px;
  outline: none;
  font-family: $font-base-stack;
}

textarea {
  padding: 1rem 1.5rem;
  resize: none;
  width: 100%;
  outline: none;
}

button,
button:focus {
  outline: none;
}

label {
  user-select: none;
}

/* Checkbox */
.checkbox-label {
  &__main {
    font-size: 1.4rem;
    cursor: pointer;
    color: $font-base-color;
    padding: 0 0 0 2.5rem;
    position: relative;
    margin: 0;
    user-select: none;
    line-height: 1.2;
    font-weight: 500;
    display: block;
    
    min-width: 1.6rem;
    min-height: 1.6rem;

    &::before {
      content: "";
      width: 1.6rem;
      height: 1.6rem;
      border: 1px solid #e7e7e7;
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  &__input {
    @include hide-element;
  }

  &__input:checked + .checkbox-label__main::after {
    content: "";
    width: .8rem;
    height: .8rem;
    background-color: $primary-color;
    position: absolute;
    left: .4rem;
    top: .4rem;
  }

  &__amount {
    color: $gray;
    font-size: 1.2rem;
  }
}
/* Checkbox */

/* Radio */
.radio-label {
  &__main {
    font-size: 1.4rem;
    cursor: pointer;
    color: $font-base-color;
    height: 100%;
    padding: 0 0 0 2.5rem;
    position: relative;
    margin: 0;
    user-select: none;
    line-height: 1.2;
    font-weight: 500;
    display: block;
    
    min-width: 1.6rem;
    min-height: 1.6rem;

    &::before {
      content: "";
      width: 1.6rem;
      height: 1.6rem;
      border: 1px solid #e7e7e7;
      position: absolute;
      left: 0;
      top: 0;
      border-radius: 50%;
      background: $white;
    }
  }

  &__input {
    @include hide-element;
  }

  &__input:checked + .radio-label__main::before {
    border-width: .5rem;
    border-color: $primary-color;
  }

  &__amount {
    color: $gray;
    font-size: 1.2rem;
  }
}
/* Radio */