.brand-item {
  $self: &;

  display: block;
  border: 1px solid #e7e7e7;
  transition: all .3s;
  text-align: center;
  padding: 2rem 1.5rem 1rem;
  max-width: 30rem;

  &:hover {
    box-shadow: 0 0 2rem rgba($black, .15);

    #{$self}__figcaption {
      color: $primary-color;

      &::before {
        background-color: $primary-color;
      }
    }
  }

  &__main {}

  &__img-wrap {
    height: 6rem;
    position: relative;
  }

  &__img {
    max-height: 100%;

    @include absolute-center;
  }

  &__figcaption {
    padding-top: 2rem;
    margin-top: 1rem;
    font-size: 1.4rem;
    font-weight: 500;
    color: $black;
    position: relative;
    transition: all .3s;
    height: 5rem;
    line-height: 1.1;
    overflow: hidden;

    &::before {
      content: "";
      background: #e7e7e7;
      width: 6rem;
      height: .3rem;
      position: absolute;
      transition: all .3s;
      left: 50%;
      transform: translateX(-50%);
      top: -1px;
    }
  }
}

.brand {
  $self: &;

  max-width: 17rem;
  margin: 0 auto;
  display: block;
  height: 100%;

  &:hover {
    #{$self}__img {
      filter: grayscale(0%);
      opacity: 1;
    }
  }

  &__main {}

  &__img-wrap {
    height: 6rem;
    position: relative;
  }

  &__img {
    max-height: 100%;
    filter: grayscale(100%);
    transition: all .5s ease-in-out;
    opacity: .5;

    @include absolute-center;
  }
}