.breadcrumbs {
  border-bottom: 1px solid #e7e7e7;
  font-size: 1.2rem;
  padding: 1rem 0;

  &__item {
    display: inline-block;
    color: #131313;
    position: relative;

    &:not(:last-child) {
      margin-right: 2rem;

      &::before {
        content: ".";
        font-weight: 600;
        font-size: 1.6rem;
        position: absolute;
        right: -1.2rem;
        color: #9a9a9a;
        line-height: 1.2rem;
      }
    }
  }

  &__link {
    color: #9a9a9a;

    &:hover {
      text-decoration: underline;
    }
  }
}