.card-features {
  background: #e6e6e6;
  padding: 1.5rem 3rem;
  margin: 0 -3rem;

  .card-feature {
    margin: 1rem 0;
  }
}

.card-feature {
  display: flex;

  &__img-wrap {
    flex: none;
  }

  &__icon {
    width: 5rem;
    height: 5rem;
    fill: $primary-color;
  }

  &__details {
    line-height: 1.4;
    padding-left: 1rem;
  }
  
  &__heading {
    font-size: 1.4rem;
    font-weight: 600;
    color: #303030;
  }

  &__tooltip {
    color: $primary-color;
    margin-left: .5rem;
  }

  &__desc {
    color: #9a9a9a;
    font-size: 1.2rem;
  }

  &__phone {
    font-weight: 500;
    color: $primary-color;
    font-size: 1.6rem;

    &:hover {
      text-decoration: underline;
    }
  }
}