/**
 * Icons
 */
.icon {
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  vertical-align: middle;
}

.fa,
.fas {
  font-family: fa;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;;
}

.fas {
  font-weight: 900;
}

.fa-star::before {
  content: "\f005";
}

.fa-info::before {
  content: "\f05a";
}

.fa-file-word::before {
  content: "\f1c2";
}

.fa-file-excel::before {
  content: "\f1c3";
}

.fa-file-pdf::before {
  content: "\f1c1";
}

.fa-cog::before {
  content: "\f013";
}