/*
 * ==================
 * = Main Nav START =
 * ==================
 */

// ---------------------- toggle
.toggle-navbar {
  $self: &;

  width: 3rem;
  height: 2rem;
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
  position: relative;

  @media (min-width: $md) {
    display: none;
  }

  &::before {
    content: "";
    height: .3rem;
    width: 100%; 
    left: 0;
    transform: translateY(-50%);
    top: 50%;
    position: absolute;
    background: $primary-color;
  }

  &__line {
    display: block;
    position: absolute;
    height: .3rem;
    background: $primary-color;
    transition: all .5s ease-in-out;
    left: 0;
    width: 100%;

    &:nth-child(1) {
      top: 0;
    }

    &:nth-child(2) {
      bottom: 0;
    }
  }

  &.is-active {
    &::before {
      display: none;
    }

    #{$self}__line:nth-child(1),
    #{$self}__line:nth-child(2) {
      left: 50%;
      top: 50%;
    }

    #{$self}__line:nth-child(1) {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    #{$self}__line:nth-child(2) {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
}
// ---------------------- toggle

// ---------------------- core
.main-nav {
  $self: &;

  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  
  /* --- Desktop Navbar --- */
  @media (min-width: $md) {
    // Base Navbar START
    // -----------------------------------------
    // --- First-Level
    &__container {
      display: flex;
      // position: relative;
      line-height: 1.2;
    }

    &__item {
      font-size: 1.6rem;
      position: relative;
      flex: auto;
      text-align: center;
      font-weight: 500;
      border-right: 1px solid #e6e6e6;

      &:first-child {
        border-left: 1px solid #e6e6e6;
      }

      &:hover #{$self}__link {
        background: #e6e6e6;

        &::after {
          width: 100%;
        }
      }

      &--attention {
        #{$self}__link {
          color: #ff4b39;
        }
      }
    }

    &__link {
      color: $black;
      padding: 1.5rem 1.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      transition: all .3s;
      position: relative;

      &::after {
        content: "";
        width: 0;
        position: absolute;
        bottom: -1px;
        left: 0;
        background: $primary-color;
        height: .3rem;
        transition: all .3s;
      }

      .icon {
        display: none;
      }
    }
    // --- /First-Level

    // --- Second-Level
    &__secondary-container {
      top: 100%;
      background: $second-level-bg-color;
      border: 1px solid $gray--medium;
      width: 100%;
      z-index: $dropdownZIndex;
      min-width: 20rem;

      @include hide-element;
    }

    &__secondary-item {
      font-size: 1.4rem;
      text-align: left;
      position: relative;
      background: $white;

      &:hover #{$self}__secondary-link {
        background: $primary-color;
        color: $white;

        &::before {
          background: $white;
        }
      }
    }

    &__secondary-link {
      color: $black;
      display: block;
      padding: 1rem 1.5rem 1rem 3rem;
      position: relative;

      &::before {
        content: "";
        width: .2rem;
        height: calc(100% - 2rem);
        position: absolute;
        left: 1.5rem;
        top: 50%;
        background: $primary-color;
        transform: translateY(-50%);
      }
    }
    // --- /Second-Level

    // --- Tertiary-Level
    &__tertiary-container {
      position: absolute;
      left: -9999px;
      top: 0;
      background: $tertiary-level-bg-color;
      opacity: 0;
      visibility: hidden;
      border: 1px solid $gray--medium;
      min-width: 20rem;
    }

    &__tertiary-item {
      font-size: $second-level-font-size;

      &:hover #{$self}__tertiary-link {
        background: darken($tertiary-level-bg-color, 5%);
      }
    }

    &__tertiary-link {
      color: $tertiary-level-text-color;
      display: block;
      padding: 1rem 1.5rem;
    }
    // --- /Tertiary-Level

    // --- Interactive
    &__item:hover #{$self}__secondary-container {
      left: 0;
      visibility: visible;
      animation: .3s fadeInUp;
      opacity: 1;
    }

    &__secondary-item:hover #{$self}__tertiary-container {
      left: 100%;
      visibility: visible;
      animation: .3s fadeInLeft;
      opacity: 1;
    }

    /* to-rigt position */
    #{$self}__item--to-right:hover #{$self}__secondary-container {
      left: auto;
      right: 0;
    }

    #{$self}__item--to-right #{$self}__secondary-item:hover #{$self}__tertiary-container {
      left: auto;
      right: 100%;
    }
    /* to-rigt position */
    // --- /Interactive
    // Base Navbar END
    // -----------------------------------------

    // Columns Navbar START
    // -----------------------------------------
    &__item--cols {
      position: static;
    }
    
    // --- First Level
    &__cols-list {
      right: 0;
      // background: $white;
      background: #fafafa;
      top: 100%;
      z-index: $dropdownZIndex;
      text-align: left;
      border: 1px solid $gray--medium;
      border-top: none;
      border-bottom: 3px solid $primary-color;
      overflow: hidden;
      transition: opacity .3s;

      &:before {
        height: 3rem;
        content: "";
        position: absolute;
        width: 100%;
        left: 0;
        right: 0;
        top: -3rem;
        z-index: 2;
        box-shadow: 0 0 2rem rgba($black, 0.2);
      }

      @include hide-element;
    }

    &__cols-item {
      width: 28rem;
      background: $white;

      &:first-child {
        padding-top: 1.5rem;
      }

      &:last-child {
        padding-bottom: 1.5rem;
      }

      &:hover #{$self}__cols-link {
        background: $primary-color;
        color: $white;

        &::before {
          background: $white;
        }
      }
    }

    &__cols-link {
      display: block;
      padding: 1rem 1.5rem 1rem 3rem;
      font-weight: 600;
      color: $black;
      font-size: 1.4rem;
      position: relative;
      transition: all .3s;

      &::before {
        content: "";
        width: .2rem;
        height: calc(100% - 2rem);
        position: absolute;
        left: 1.5rem;
        top: 50%;
        background: $primary-color;
        transform: translateY(-50%);
      }
    }
    // --- /First Level

    // --- Second Level
    &__cols-sublist {
      right: 0;
      top: 0;
      padding: 1rem 10rem 1rem 30rem;
      width: 100%;
      min-height: 100%;
      z-index: -1;
      columns: 30rem 2;
      column-rule: 1px dotted #e7e7e7;
      column-gap: 3rem;
      background: #fafafa;
      // transition: opacity .3s ease-in-out;

      @include hide-element;
      
      // FIRST ITEM VISIBLE
      #{$self}__item--cols:hover #{$self}__cols-item:first-child & {
        visibility: visible;
        opacity: 1;
        left: 0;
      }
    }

    &__cols-subitem {}
    
    &__cols-sublink {
      display: inline-block;
      vertical-align: top;
      padding: 1rem 1rem 1rem 3rem;
      color: #010101;
      transition: all .3s;
      font-weight: 600;
      font-size: 1.4rem;
      border-radius: 5px;
      position: relative;

      &::before {
        content: ".";
        color: #ccc;
        font-size: 1.4rem;
        font-weight: 600;
        left: 1.5rem;
        position: absolute;
        top: .6rem;
      }

      &:hover {
        color: $primary-color;
      }
    }
    // --- /Second Level

    // --- Interactive
    &__item--cols:hover &__cols-list {
      left: 0;
      opacity: 1;
      visibility: visible;
    }

    &__cols-item:hover &__cols-sublist {
      left: 0;
      opacity: 1;
      visibility: visible;
    }
    // --- /Interactive
    // Columns Navbar END
    // -----------------------------------------

    .icon {
      display: none;
    }

    // -------------------------------------
    // Mega Nav START
    // -------------------------------------
    .main-nav__cols-list--mega {
      min-height: 53rem;
      background: $white;

      .main-nav__cols-sublist {}

      .mega-nav {
        position: absolute;
        left: 28rem;
        top: 0;
        padding: 0 37rem 0 3rem;
        width: calc(100% - 28rem);
        height: 100%;
        background: #fafafa;

        @media (min-width: $xlg) {
          padding: 0 47rem 0 3rem;
        }

        @include hide-element;

        &__heading {
          font-size: 2.4rem;
          text-transform: uppercase;
          position: relative;
          padding-bottom: 1.5rem;
          margin-bottom: 1.5rem;
          margin-top: 2rem;

          &::after {
            content: "";
            width: 5rem;
            height: .3rem;
            background: $primary-color;
            position: absolute;
            left: 0;
            top: 100%;
            transform: translateY(-1px);
          }
        }

        &__more {
          font-size: 1.4rem;
          font-weight: 600;
          color: $primary-color;

          &:hover {
            text-decoration: underline;
          }
        }

        &__banner {
          position: absolute;
          right: 0;
          top: 0;
          height: 100%;
          width: 37rem;

          @media (min-width: $xlg) {
            width: 47rem;
          }

          &-wrap {
            display: block;
            width: 100%;
            height: 100%;
          }

          &-img {
            height: 100%;
            width: 100%;
            object-fit: contain;
            object-position: right top;
          }
        }

        &__list {
          margin-bottom: 1rem;
        }

        &__item {}

        &__link {
          display: inline-block;
          vertical-align: top;
          padding: 1rem 1rem 1rem 3rem;
          color: #010101;
          transition: all .3s;
          font-weight: 600;
          font-size: 1.4rem;
          border-radius: 5px;
          position: relative;

          &::before {
            content: ".";
            color: #ccc;
            font-size: 1.4rem;
            font-weight: 600;
            left: 1.5rem;
            position: absolute;
            top: .6rem;
          }

          &:hover {
            color: $primary-color;
          }
        }
      }

      .main-nav__cols-item:hover .mega-nav {
        visibility: visible;
        opacity: 1;
        left: 28rem;
      }
    }
    
    // FIRST ITEM VISIBLE
    #{$self}__item--cols:hover #{$self}__cols-item:first-child .mega-nav {
      visibility: visible;
      opacity: 1;
      left: 28rem;
    }
    // -------------------------------------
    // Mega Nav END
    // -------------------------------------
  }
  /* --- /Desktop Navbar --- */

  /* --- Mobile Navbar --- */
  @media (max-width: $md--mw) {
    position: absolute;
    left: -150%;
    top: 0;
    transition: left .3s ease-in-out;
    z-index: $overlayAboveZIndex;
    background: $white;
    border-bottom: none;

    .is-navbar-opened & {
      left: -3rem;
      right: -3rem;
    }
    
    // --- First-Level
    &__container {
      /*height: 100%;
      overflow-y: auto;
      overflow-x: hidden;*/
      border-bottom: 3px solid $primary-color;
    }

    &__item {
      font-size: 1.6rem;
      border-top: 1px dotted #e6e6e6;
    }

    &__link {
      display: block;
      padding: 1rem 3rem 1rem 3rem;
      color: $black;
      position: relative;

      &::before {
        content: "";
        width: 1px;
        height: 1.5rem;
        background: $primary-color;
        left: 1.5rem;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    // --- /First-Level

    // --- Second-Level
    &__secondary-container,
    &__cols-list {
      display: none;
      background: #fafafa;
    }

    &__secondary-item,
    &__cols-item {}

    &__secondary-link,
    &__cols-link {
      color: #010101;
      font-size: 1.4rem;
      font-weight: 600;
      display: block;
      padding: 1rem 3rem 1rem 3rem;
      position: relative;

      &::before {
        content: ".";
        color: #ccc;
        font-size: 1.4rem;
        font-weight: 600;
        left: 1.5rem;
        position: absolute;
        top: .6rem;
      }
    }
    // --- /Second-Level

    // --- Third-Level
    &__tertiary-container,
    &__cols-sublist {
      display: none;
      padding: 1.5rem 0;
    }

    &__tertiary-item,
    &__cols-subitem {}

    &__tertiary-link,
    &__cols-sublink {
      background: $white;
      display: block;
      padding: .5rem 3rem .5rem 3rem;
      color: $black;
      font-size: 1.4rem;
      position: relative;
    }
    // --- /Third-Level
    
    // --- Fourth Level
    &__tertcatalog-list {
      display: none;
    }

    &__tertcatalog-item {}

    &__tertcatalog-link {
      background: $tertiary-level-bg-color;
      display: block;
      padding: 1rem 1rem 1rem 6rem;
      color: $tertiary-level-text-color;
      position: relative;
    }
    // --- /Fourth Level

    // --- Interactive
    .is-opened > ul {
      display: block;
    }
    // --- /Interactive
    
    // --- Misc
    /* Icon-Trigger */
    .main-nav__container .icon {
      width: 4rem;
      right: 0;
      top: 0;
      bottom: 0;
      height: 100%;
      padding: 1.5rem;
      position: absolute;

      &::before {
        content: "+";
        font-size: 2rem;
        color: $primary-color;
        font-weight: 400;
        
        @include absolute-center;
      }
    }

    .is-opened > a > .icon {
      &::before {
        content: "-";
        color: #ccc;
      }
    }
    /* Icon-Trigger */
    // -- /Misc
  }
  /* --- /Mobile Navbar --- */
}
// ---------------------- core

/*body.is-navbar-opened {
  overflow: hidden;
}*/

/**
 * ================
 * = Main Nav END =
 * ================
*/