.news {
  $self: &;

  background: $white;
  display: block;
  transition: all .3s;
  height: 100%;

  &:hover {
    box-shadow: 0 0 2rem rgba($black, 0.15);

    #{$self}__heading {
      color: $primary-color;
    }

    #{$self}__img {
      transform: scale(1.05);
    }
  }

  &__desc {
    padding: 1.5rem;
  }

  &__img-wrap {
    height: 17rem;
    overflow: hidden;

    @media (min-width: $md) {
      height: auto;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .5s ease-in-out;
  }

  &__heading {
    text-transform: uppercase;
    font-weight: 500;
    color: #303030;
    transition: all .3s;
    padding-bottom: 2rem;
    position: relative;

    &::after {
      content: "";
      width: 5rem;
      height: .3rem;
      background: $primary-color;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  &__date {
    color: #b8b8b8;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    display: block;
  }

  &__excerpt {
    margin-top: 2rem;
    color: $black;
    line-height: 1.4;
    display: none;

    @media (min-width: $lg) {
      display: block;
    }
  }

  &--wide {
    @media (min-width: $md) {
      display: flex;

      #{$self}__img-wrap {
        flex-basis: 47%;
        max-width: 47%;
      }

      #{$self}__desc {
        flex-basis: 53%;
        max-width: 53%;
      }
    }
  }
}

.news-section {
  border-top: 1px solid $gray--medium;

  @media (min-width: $md) {
    border: none;
  }

  @media (max-width: $sm--mw) {
    [class*="col-"]:not(:last-child) {
      margin-bottom: 2.5rem;
    }
  }

  @media (min-width: $sm) and (max-width: $md--mw) {
    [class*="col-"]:not(:nth-last-child(-n+2)) {
      margin-bottom: 2.5rem;
    }
  }
}