extends main

block content

  .row
    .col-md-3
      aside.sidebar-area
        block sidebar
          p No content provided!

    .col-md-9
      main.main-area
        block primary
          p No content provided!