mixin dropdown-products-list(data)

  table.dropdown-products
    tbody.dropdown-products__tbody

      tr.dropdown-products__tr
        td.dropdown-products__td
          a.dropdown-products__img-wrap(href="#")
            img.dropdown-products__img(src="assets/images/media/category-10.png" alt="Product")
        td.dropdown-products__td
          a.dropdown-products__title(href="#") 
            span.dropdown-products__title-text Gretsch G5422T Electromatic BK
          div.dropdown-products__price
            span.dropdown-products__price-base x1
            span.dropdown-products__price-total 1,599 MDL
        td.dropdown-products__td
          a.dropdown-products__remove(href="#")
            +icon('close', 'dropdown-products__remove-icon')
      
      tr.dropdown-products__tr
        td.dropdown-products__td
          a.dropdown-products__img-wrap(href="#")
            img.dropdown-products__img(src="assets/images/media/category-9.png" alt="Product")
        td.dropdown-products__td
          a.dropdown-products__title(href="#") 
            span.dropdown-products__title-text Native Instruments Komplete Kontrol A49
          div.dropdown-products__price
            span.dropdown-products__price-base x1
            span.dropdown-products__price-total 2,745 MDL
        td.dropdown-products__td
          a.dropdown-products__remove(href="#")
            +icon('close', 'dropdown-products__remove-icon')

      tr.dropdown-products__tr
        td.dropdown-products__td
          a.dropdown-products__img-wrap(href="#")
            img.dropdown-products__img(src="assets/images/media/category-4.png" alt="Product")
        td.dropdown-products__td
          a.dropdown-products__title(href="#") 
            span.dropdown-products__title-text Technics SL-1210 MK 7
          div.dropdown-products__price
            span.dropdown-products__price-base x2
            span.dropdown-products__price-total 14,609 MDL
        td.dropdown-products__td
          a.dropdown-products__remove(href="#")
            +icon('close', 'dropdown-products__remove-icon')
      
      tr.dropdown-products__tr
        td.dropdown-products__td
          a.dropdown-products__img-wrap(href="#")
            img.dropdown-products__img(src="assets/images/media/products/product-3.png" alt="Product")
        td.dropdown-products__td
          a.dropdown-products__title(href="#") 
            span.dropdown-products__title-text Numark Party Mix
          div.dropdown-products__price
            span.dropdown-products__price-base x1
            span.dropdown-products__price-total 1,279 MDL
        td.dropdown-products__td
          a.dropdown-products__remove(href="#")
            +icon('close', 'dropdown-products__remove-icon')

      tr.dropdown-products__tr
        td.dropdown-products__td
          a.dropdown-products__img-wrap(href="#")
            img.dropdown-products__img(src="assets/images/media/products/product-4.png" alt="Product")
        td.dropdown-products__td
          a.dropdown-products__title(href="#") 
            span.dropdown-products__title-text DDW06F Cristallo ultimo
          div.dropdown-products__price
            span.dropdown-products__price-base x3
            span.dropdown-products__price-total 89,073 MDL
        td.dropdown-products__td
          a.dropdown-products__remove(href="#")
            +icon('close', 'dropdown-products__remove-icon')
      
      tr.dropdown-products__tr
        td.dropdown-products__td
          a.dropdown-products__img-wrap(href="#")
            img.dropdown-products__img(src="assets/images/media/products/product-6.png" alt="Product")
        td.dropdown-products__td
          a.dropdown-products__title(href="#") 
            span.dropdown-products__title-text DeLonghi DDW06F Cristallo ultimo
          div.dropdown-products__price
            span.dropdown-products__price-base x7
            span.dropdown-products__price-total 429,691 MDL
        td.dropdown-products__td
          a.dropdown-products__remove(href="#")
            +icon('close', 'dropdown-products__remove-icon')

      tr.dropdown-products__tr
        td.dropdown-products__td
          a.dropdown-products__img-wrap(href="#")
            img.dropdown-products__img(src="assets/images/media/products/product-1.png" alt="Product")
        td.dropdown-products__td
          a.dropdown-products__title(href="#") 
            span.dropdown-products__title-text DeLonghi DDW06F
          div.dropdown-products__price
            span.dropdown-products__price-base x1
            span.dropdown-products__price-total 89,073 MDL
        td.dropdown-products__td
          a.dropdown-products__remove(href="#")
            +icon('close', 'dropdown-products__remove-icon')
 
      tr.dropdown-products__tr
        td.dropdown-products__td
          a.dropdown-products__img-wrap(href="#")
            img.dropdown-products__img(src="assets/images/media/products/product-8.png" alt="Product")
        td.dropdown-products__td
          a.dropdown-products__title(href="#") 
            span.dropdown-products__title-text Numark Party Mix
          div.dropdown-products__price
            span.dropdown-products__price-base x1
            span.dropdown-products__price-total 429,691 MDL
        td.dropdown-products__td
          a.dropdown-products__remove(href="#")
            +icon('close', 'dropdown-products__remove-icon')

      tr.dropdown-products__tr
        td.dropdown-products__td
          a.dropdown-products__img-wrap(href="#")
            img.dropdown-products__img(src="assets/images/media/products/product-2.png" alt="Product")
        td.dropdown-products__td
          a.dropdown-products__title(href="#") 
            span.dropdown-products__title-text Native Instruments Komplete Kontrol A49
          div.dropdown-products__price
            span.dropdown-products__price-base x1
            span.dropdown-products__price-total 189,073 MDL
        td.dropdown-products__td
          a.dropdown-products__remove(href="#")
            +icon('close', 'dropdown-products__remove-icon')
      
      tr.dropdown-products__tr
        td.dropdown-products__td
          a.dropdown-products__img-wrap(href="#")
            img.dropdown-products__img(src="assets/images/media/products/product-7.png" alt="Product")
        td.dropdown-products__td
          a.dropdown-products__title(href="#")
            span.dropdown-products__title-text Native Instruments
          div.dropdown-products__price
            span.dropdown-products__price-base x2
            span.dropdown-products__price-total 29,691 MDL
        td.dropdown-products__td
          a.dropdown-products__remove(href="#")
            +icon('close', 'dropdown-products__remove-icon')

      tr.dropdown-products__tr
        td.dropdown-products__td
          a.dropdown-products__img-wrap(href="#")
            img.dropdown-products__img(src="assets/images/media/products/product-5.png" alt="Product")
        td.dropdown-products__td
          a.dropdown-products__title(href="#")
            span.dropdown-products__title-text DDW06F Cristallo ultimo
          div.dropdown-products__price
            span.dropdown-products__price-base  x12
            span.dropdown-products__price-total 5,129,691 MDL
        td.dropdown-products__td
          a.dropdown-products__remove(href="#")
            +icon('close', 'dropdown-products__remove-icon')
      
      tr.dropdown-products__tr
        td.dropdown-products__td
          a.dropdown-products__img-wrap(href="#")
            img.dropdown-products__img(src="assets/images/media/products/product-2.png" alt="Product")
        td.dropdown-products__td
          a.dropdown-products__title(href="#")
            span.dropdown-products__title-text DeLonghi DDW06F Cristallo ultimo
          div.dropdown-products__price
            span.dropdown-products__price-base x3
            span.dropdown-products__price-total 429,691 MDL
        td.dropdown-products__td
          a.dropdown-products__remove(href="#")
            +icon('close', 'dropdown-products__remove-icon')