mixin logo(logoIndex, cls)
  +b.logo(class=cls)
    if logoIndex
      +e.SPAN.wrap
        +e.IMG.img.img-responsive(src="assets/images/logo.png" alt="logo" width="135" height="65")
    else
      +e.A.wrap(href="/")
        +e.IMG.img.img-responsive(src="assets/images/logo.png" alt="logo" width="135" height="65")
