// main-nav
nav.main-nav

  ul.main-nav__container
    
    li.main-nav__item
      a.main-nav__link(href="#") Каталог по назначению
        span.icon
        //- +icon('chevron-down', 'main-nav__item-icon')

    li.main-nav__item
      a.main-nav__link(href="#") Каталог по производителям

    li.main-nav__item
      a.main-nav__link(href="#") Лидеры продаж

    li.main-nav__item
      a.main-nav__link(href="#") Новинки

    li.main-nav__item.main-nav__item--attention
      a.main-nav__link(href="#") Акции
    

// /main-nav