// main-nav
nav.main-nav

  ul.main-nav__container
    
    li.main-nav__item.main-nav__item--cols
      a.main-nav__link(href="#") Каталог по назначению
        span.icon
      ul.main-nav__cols-list
        li.main-nav__cols-item
          a.main-nav__cols-link(href="#") Гитары и Бас гитары
        li.main-nav__cols-item
          a.main-nav__cols-link(href="#") Ударные и перкуссия
        li.main-nav__cols-item
          a.main-nav__cols-link(href="#") Клавишные инстремунты
        li.main-nav__cols-item
          a.main-nav__cols-link(href="#") Студия и звукозапиь
        li.main-nav__cols-item
          a.main-nav__cols-link(href="#") Программное обеспечение
        li.main-nav__cols-item
          a.main-nav__cols-link(href="#") Премиальное оборудывание
        li.main-nav__cols-item
          a.main-nav__cols-link(href="#") Аксуссуары и расходники
        li.main-nav__cols-item
          a.main-nav__cols-link(href="#") Освещение и сцена
        li.main-nav__cols-item
          a.main-nav__cols-link(href="#") Диджейское оборудование
            span.icon
    
          ul.main-nav__cols-sublist
            li.main-nav__cols-subitem
              a.main-nav__cols-sublink(href="#") DJ Микшеры
            li.main-nav__cols-subitem
              a.main-nav__cols-sublink(href="#") DJ проигрватели
            li.main-nav__cols-subitem
              a.main-nav__cols-sublink(href="#") CD, USB, HDD проигрыватели
            li.main-nav__cols-subitem
              a.main-nav__cols-sublink(href="#") DJ системы
            li.main-nav__cols-subitem
              a.main-nav__cols-sublink(href="#") DVS системы
            li.main-nav__cols-subitem
              a.main-nav__cols-sublink(href="#") MIDI контроллеры
            li.main-nav__cols-subitem
              a.main-nav__cols-sublink(href="#") DAW контроллеры
            li.main-nav__cols-subitem
              a.main-nav__cols-sublink(href="#") DJ контроллеры
            li.main-nav__cols-subitem
              a.main-nav__cols-sublink(href="#") USB - интерфейс
            li.main-nav__cols-subitem
              a.main-nav__cols-sublink(href="#") Аксессуары
            li.main-nav__cols-subitem
              a.main-nav__cols-sublink(href="#") Иглы картриджи
            li.main-nav__cols-subitem
              a.main-nav__cols-sublink(href="#") Кроссфейдеры
            li.main-nav__cols-subitem
              a.main-nav__cols-sublink(href="#") Руководство пользователя
            li.main-nav__cols-subitem
              a.main-nav__cols-sublink(href="#") Стойки
            li.main-nav__cols-subitem
              a.main-nav__cols-sublink(href="#") Чехлы, сумки и кейсы
            li.main-nav__cols-subitem
              a.main-nav__cols-sublink(href="#") Акустические мониторы
            li.main-nav__cols-subitem
              a.main-nav__cols-sublink(href="#") Аудио Интерфейсы / Рекордеры
            li.main-nav__cols-subitem
              a.main-nav__cols-sublink(href="#") Держатель для пластинок
            li.main-nav__cols-subitem
              a.main-nav__cols-sublink(href="#") Драм-машины
            li.main-nav__cols-subitem
              a.main-nav__cols-sublink(href="#") Запчасти
            li.main-nav__cols-subitem
              a.main-nav__cols-sublink(href="#") Крепление для наушников
            li.main-nav__cols-subitem
              a.main-nav__cols-sublink(href="#") Миди - контроллеры
            li.main-nav__cols-subitem
              a.main-nav__cols-sublink(href="#") Микшеры
            li.main-nav__cols-subitem
              a.main-nav__cols-sublink(href="#") Наушники для ди - джея
            li.main-nav__cols-subitem
              a.main-nav__cols-sublink(href="#") Опции
            li.main-nav__cols-subitem
              a.main-nav__cols-sublink(href="#") Программное обеспечение
            li.main-nav__cols-subitem
              a.main-nav__cols-sublink(href="#") Распродажа
            li.main-nav__cols-subitem
              a.main-nav__cols-sublink(href="#") Синтезаторы
            li.main-nav__cols-subitem
              a.main-nav__cols-sublink(href="#") Сэмплеры
            li.main-nav__cols-subitem
              a.main-nav__cols-sublink(href="#") Усилители
            li.main-nav__cols-subitem
              a.main-nav__cols-sublink(href="#") Эффекторы

        li.main-nav__cols-item
          a.main-nav__cols-link(href="#") Микрофони и аксессуары
        li.main-nav__cols-item
          a.main-nav__cols-link(href="#") Жффекторы и процессоры
        li.main-nav__cols-item
          a.main-nav__cols-link(href="#") Духовые и инструменты
        li.main-nav__cols-item
          a.main-nav__cols-link(href="#") Традиционные инструменты
        li.main-nav__cols-item
          a.main-nav__cols-link(href="#") Пьюпитеры и ноты
        li.main-nav__cols-item
          a.main-nav__cols-link(href="#") Кейсы, чехлы и стелажи
        li.main-nav__cols-item
          a.main-nav__cols-link(href="#") Кабеля и разъемы

    li.main-nav__item.main-nav__item--cols
      a.main-nav__link(href="#") Каталог по производителям
        span.icon
      ul.main-nav__cols-list
        li.main-nav__cols-item
          a.main-nav__cols-link(href="#") Звуковое оборудование
        li.main-nav__cols-item
          a.main-nav__cols-link(href="#") Световое оборудование
        li.main-nav__cols-item
          a.main-nav__cols-link(href="#") DJ оборудование
        li.main-nav__cols-item
          a.main-nav__cols-link(href="#") Музыкальные инструменты
            span.icon
    
          ul.main-nav__cols-sublist
            li.main-nav__cols-subitem
              a.main-nav__cols-sublink(href="#") AUGUST FOERSTER
            li.main-nav__cols-subitem
              a.main-nav__cols-sublink(href="#") CLAYTON
            li.main-nav__cols-subitem
              a.main-nav__cols-sublink(href="#") DUNLOP
            li.main-nav__cols-subitem
              a.main-nav__cols-sublink(href="#") HAMMOND
            li.main-nav__cols-subitem
              a.main-nav__cols-sublink(href="#") harley benton
            li.main-nav__cols-subitem
              a.main-nav__cols-sublink(href="#") NORD
            li.main-nav__cols-subitem
              a.main-nav__cols-sublink(href="#") SONOR
            li.main-nav__cols-subitem
              a.main-nav__cols-sublink(href="#") VATER
            li.main-nav__cols-subitem
              a.main-nav__cols-sublink(href="#") WASHBURN
            li.main-nav__cols-subitem
              a.main-nav__cols-sublink(href="#") WELTMEISTER
            li.main-nav__cols-subitem
              a.main-nav__cols-sublink(href="#") ZOOM

        li.main-nav__cols-item
          a.main-nav__cols-link(href="#") Сценическое оборудование
        li.main-nav__cols-item
          a.main-nav__cols-link(href="#") Aкустические материалы
        li.main-nav__cols-item
          a.main-nav__cols-link(href="#") Видео и кинопроекция
        li.main-nav__cols-item
          a.main-nav__cols-link(href="#") Все бренды

    li.main-nav__item
      a.main-nav__link(href="#") Лидеры продаж
        span.icon
      ul.main-nav__secondary-container
        li.main-nav__secondary-item
          a.main-nav__secondary-link(href="#") Первый уровень
        li.main-nav__secondary-item
          a.main-nav__secondary-link(href="#") Первый
            span.icon
          ul.main-nav__tertiary-container
            li.main-nav__tertiary-item
              a.main-nav__tertiary-link(href="#") Ссылка второго уровня
            li.main-nav__tertiary-item
              a.main-nav__tertiary-link(href="#") Ссылка
            li.main-nav__tertiary-item
              a.main-nav__tertiary-link(href="#") Ссылка второго уровня
            li.main-nav__tertiary-item
              a.main-nav__tertiary-link(href="#") Ссылка
            li.main-nav__tertiary-item
              a.main-nav__tertiary-link(href="#") Ссылка второго уровня
            li.main-nav__tertiary-item
              a.main-nav__tertiary-link(href="#") Ссылка
        li.main-nav__secondary-item
          a.main-nav__secondary-link(href="#") Первый уровень
        li.main-nav__secondary-item
          a.main-nav__secondary-link(href="#") Первый уровень
        li.main-nav__secondary-item
          a.main-nav__secondary-link(href="#") Первый
        li.main-nav__secondary-item
          a.main-nav__secondary-link(href="#") Первый уровень

    li.main-nav__item
      a.main-nav__link(href="#") Новинки

    li.main-nav__item.main-nav__item--attention
      a.main-nav__link(href="#") Акции
    

// /main-nav