mixin soc(cls)
  
  ul.soc(class=cls)
    li.soc__item
      a(href="#").soc__link.soc__link--fb FaceBook
        +icon('facebook-f', 'soc__icon')
    li.soc__item
      a(href="#").soc__link.soc__link--inst Instagram
        +icon('instagram', 'soc__icon')
    li.soc__item
      a(href="#").soc__link.soc__link--tw Twitter
        +icon('twitter', 'soc__icon')
    li.soc__item
      a(href="#").soc__link.soc__link--vk VK
        +icon('vk', 'soc__icon')
    li.soc__item
      a(href="#").soc__link.soc__link--yt YouTube
        +icon('youtube', 'soc__icon')
    //- li.soc__item
    //-   a(href="#").soc__link.soc__link--gg Google
    //-     +icon('google', 'soc__icon')
    //- li.soc__item
    //-   a(href="#").soc__link.soc__link--ok OK 
    //-     +icon('odnoklassniki', 'soc__icon')