.price-range

  .price-range__values
    .price-range__field
      input.price-range__input(id="input-number-a")
      .price-range__currency MDL
    .price-range__separator до
    .price-range__field
      input.price-range__input(id="input-number-b")
      .price-range__currency MDL

  .price-range__slider(id="price-range")