extends templates/main

include components/footer-collapse
include components/logo
include components/soc

block variables
  - const pageTitle = 'Авторизация';
  - const pageClass = 'forms-page';
  - const formsPage = true;

block content

  .inner-area
    .inner-area__heading #{pageTitle}

    +b.panel--wide.panel--has-banner
      +e.wrap
        +e.fields
          +e.FORM.form(action="/" method="POST" name="user-auth")
            +e.field
              +e.helper
                +icon('mail', 'panel__helper-icon')
              +e.INPUT.input(type="email" name="user-email" placeholder="E-mail или логин")
            +e.field
              +e.helper
                +icon('padlock', 'panel__helper-icon')
              +e.INPUT.input(type="password" name="user-email" placeholder="Пароль")
            +e.field
              +e.A.restore-password(href="#") забыли пароль?
              +e.remember-password.checkbox-label
                input.checkbox-label__input(type="checkbox" name="remember-password" id="rmb")
                label.checkbox-label__main(for="rmb") #[span .] запомнить меня
            .text-center
              +e.BUTTON.auth-btn.btn.btn--reverse(type="submit") Войти
            +e.forgot-password
          
          +e.soc-auth
            +e.soc-auth-title Войти через социальные сети
            +soc

        +e.footer
          +e.text Еще нет профиля? #[a(href="#") Зарегистрируйтесь]
      +e.A.banner.d-none.d-sm-block(href="#")
        +e.IMG.banner-img(src="assets/images/media/auth-banner.png" alt="")