extends templates/main

include layouts/section
include components/category
include components/news
include components/product
include components/footer-collapse
include components/logo
include components/soc

block variables
  - const pageTitle = 'Главная страница';
  - const pageClass = 'index-page';
  - const userState = 'logout';
  - const bodyBg = true;
  - const logoIndex = true;
  - const promoCarousel = true;

block content
    
  // products categories
  +section("Категории продуктов", "Все категории", "categories-section")
    +category([
      {
        "heading": "Гитары",
        "imgPath": "assets/images/media/category-1.png"
      },
      {
        "heading": "Ударные и Перкуссия",
        "imgPath": "assets/images/media/category-2.png"
      },
      {
        "heading": "Клавишные инструменты",
        "imgPath": "assets/images/media/category-3.png"
      },
      {
        "heading": "Студия и Звукозапись",
        "imgPath": "assets/images/media/category-4.png"
      },
      {
        "heading": "Программное обеспечение",
        "imgPath": "assets/images/media/category-5.png"
      },
      {
        "heading": "Премиальное оборудование",
        "imgPath": "assets/images/media/category-6.png"
      },
      {
        "heading": "Аксессуары и расходники",
        "imgPath": "assets/images/media/category-7.png"
      },
      {
        "heading": "Освещение и сцена",
        "imgPath": "assets/images/media/category-8.png"
      },
      {
        "heading": "Диджейское оборудование",
        "imgPath": "assets/images/media/category-9.png"
      },
      {
        "heading": "Микрофоны и аксессуары",
        "imgPath": "assets/images/media/category-10.png"
      },
      {
        "heading": "Эффекторы и Процессоры",
        "imgPath": "assets/images/media/category-11.png"
      },
      {
        "heading": "Духовые инструменты",
        "imgPath": "assets/images/media/category-12.png"
      },
      {
        "heading": "Традиционные инструменты",
        "imgPath": "assets/images/media/category-13.png"
      },
      {
        "heading": "Пьюпитеры и ноты",
        "imgPath": "assets/images/media/category-14.png"
      },
      {
        "heading": "Кейсы, чехлы и стелажи",
        "imgPath": "assets/images/media/category-15.png"
      },
      {
        "heading": "Кабеля и Разъемы",
        "imgPath": "assets/images/media/category-16.png"
      },
    ])
  // /products categories

  // products
  +section("Подборка товаров", false, "section--gray products-promo-section")
    include components/tabs
  // /products
  
  // studio
  +section("Готовые студии", false, "goods-interactive-section")
    .interactive-carousel
      .swiper-container.interactive-carousel__container.js-interactive-carousel
        .swiper-wrapper

          .swiper-slide

            +b.goods-interactive
              +e.room-area
                +e.room-area-img-dimension
                  +e.IMG.img(src="assets/images/studio.jpg" alt="studio")
              +e.products-area
                +e.products-area-body.js-custom-scroll
                  +b.ARTICLE.product-preview
                    +e.header
                      +e.A.img-wrap(href="#")
                        +e.IMG.img(src="assets/images/media/products/product-9.png" alt="")
                    +e.main
                      +e.heading
                        +e.A.heading-link(href="#") Активный монитор Yamaha HS 7
                      +e.price 3,111 MDL
                  +b.ARTICLE.product-preview
                    +e.header
                      +e.A.img-wrap(href="#")
                        +e.IMG.img(src="assets/images/media/products/product-10.png" alt="")
                    +e.main
                      +e.heading
                        +e.A.heading-link(href="#") USB Audio Interface M-Audio AIR 192 | 6
                      +e.price 2,199 MDL
                  +b.ARTICLE.product-preview
                    +e.header
                      +e.A.img-wrap(href="#")
                        +e.IMG.img(src="assets/images/media/products/product-5.png" alt="")
                    +e.main
                      +e.heading
                        +e.A.heading-link(href="#") Presonus AudioBox iTwo
                      +e.price 1,765 MDL
                  +b.ARTICLE.product-preview
                    +e.header
                      +e.A.img-wrap(href="#")
                        +e.IMG.img(src="assets/images/media/products/product-9.png" alt="")
                    +e.main
                      +e.heading
                        +e.A.heading-link(href="#") Активный монитор Yamaha HS 7
                      +e.price 3,111 MDL
                  +b.ARTICLE.product-preview
                    +e.header
                      +e.A.img-wrap(href="#")
                        +e.IMG.img(src="assets/images/media/products/product-10.png" alt="")
                    +e.main
                      +e.heading
                        +e.A.heading-link(href="#") USB Audio Interface M-Audio AIR 192 | 6
                      +e.price 2,199 MDL
                  +b.ARTICLE.product-preview
                    +e.header
                      +e.A.img-wrap(href="#")
                        +e.IMG.img(src="assets/images/media/products/product-5.png" alt="")
                    +e.main
                      +e.heading
                        +e.A.heading-link(href="#") Presonus AudioBox iTwo
                      +e.price 1,765 MDL

          .swiper-slide

            +b.goods-interactive
              +e.room-area
                +e.room-area-img-dimension
                  +e.IMG.img(src="assets/images/studio.jpg" alt="studio")
              +e.products-area
                +e.products-area-body.js-custom-scroll
                  +b.ARTICLE.product-preview
                    +e.header
                      +e.A.img-wrap(href="#")
                        +e.IMG.img(src="assets/images/media/products/product-9.png" alt="")
                    +e.main
                      +e.heading
                        +e.A.heading-link(href="#") Активный монитор Yamaha HS 7
                      +e.price 3,111 MDL
                  +b.ARTICLE.product-preview
                    +e.header
                      +e.A.img-wrap(href="#")
                        +e.IMG.img(src="assets/images/media/products/product-10.png" alt="")
                    +e.main
                      +e.heading
                        +e.A.heading-link(href="#") USB Audio Interface M-Audio AIR 192 | 6
                      +e.price 2,199 MDL
                  +b.ARTICLE.product-preview
                    +e.header
                      +e.A.img-wrap(href="#")
                        +e.IMG.img(src="assets/images/media/products/product-5.png" alt="")
                    +e.main
                      +e.heading
                        +e.A.heading-link(href="#") Presonus AudioBox iTwo
                      +e.price 1,765 MDL
                  +b.ARTICLE.product-preview
                    +e.header
                      +e.A.img-wrap(href="#")
                        +e.IMG.img(src="assets/images/media/products/product-9.png" alt="")
                    +e.main
                      +e.heading
                        +e.A.heading-link(href="#") Активный монитор Yamaha HS 7
                      +e.price 3,111 MDL
                  +b.ARTICLE.product-preview
                    +e.header
                      +e.A.img-wrap(href="#")
                        +e.IMG.img(src="assets/images/media/products/product-10.png" alt="")
                    +e.main
                      +e.heading
                        +e.A.heading-link(href="#") USB Audio Interface M-Audio AIR 192 | 6
                      +e.price 2,199 MDL
                  +b.ARTICLE.product-preview
                    +e.header
                      +e.A.img-wrap(href="#")
                        +e.IMG.img(src="assets/images/media/products/product-5.png" alt="")
                    +e.main
                      +e.heading
                        +e.A.heading-link(href="#") Presonus AudioBox iTwo
                      +e.price 1,765 MDL

        .interactive-carousel__pagination

  // /studio
  
  // news
  +section("Последние новости", "Все новости", "section--gray news-section")
    .row
      .col-md-6
        +news({
          heading: "Презентация технологии иммерсионного звука L-Acoustics L-ISA в Киеве!",
          date:    "28 декабря 2019",
          excerpt: "Естественное звучание поглощает слушателя, включая его со всех сторон. Усиленный и записанный звук практически лишен включая его со",
          imgPath: "assets/images/media/news-1.jpg"
        }, 'news--wide')
      .col-sm-6.col-md-3
        +news({
          heading: "Компания Waves Audio выпустила новый Waves MyMon",
          date:    "28 декабря 2019",
          imgPath: "assets/images/media/news-2.jpg"
        })
      .col-sm-6.col-md-3
        +news({
          heading: "Allen & Heath dLive путешествует по миру ди-джеем",
          date:    "28 декабря 2019",
          imgPath: "assets/images/media/news-3.jpg"
        })
  // /news