extends templates/main

include layouts/section
include components/category
include components/news
include components/product
include components/footer-collapse
include components/logo
include components/soc

block variables
  - const pageTitle = 'Гарантийные обязательства';
  - const pageClass = 'post-page';
  - const breadcrumbs = ["Главная", "Гарантийные обязательства"];
  - const auth = true;

block content

  +section("Гарантийные обязательства", "", "post-section section--limit")
    .post-content
      
      .post-content__preview
        strong Шановний споживач!
        p Виробник продукції та Продавець висловлюють подяку за Ваш вибір і гарантують високу якість та бездоганне функціонування даного пристрою за умови дотримання правил його експлуатації.

      p #[strong Умови гарантії]

      p Даною гарантією Виробник та Продавець підтверджують справність даного виробу та беруть на себе зобов’язання з безкоштовного сервісного обслуговування, заміни дефектних деталей, вузлів та механізмів, усунення несправностей придбаного Вами виробу, виявлених протягом всього гарантійного терміну, якщо вони виникли з вини заводу виробника відповідно до, та в терміни, встановлені законодавством України.
      
      p Термін придатності даного виробу – необмежений. Гарантійний термін становить 12 місяців від дня його придбання в роздрібній мережі. Протягом всього гарантійного терміну Покупцеві надається безкоштовне сервісне обслуговування на придбаний пристрій.
      
      p Після закінчення гарантійного терміну радимо Вам звернутись до сервісного центру для проведення профілактичних робіт та одержання рекомендацій з подальшої експлуатації виробу, або до спеціалізованої організації з метою укладення договору про його технічне обслуговування. Несвоєчасне технічне обслуговування, чи відсутність такого, можуть призвести до скорочення терміну придатності даного виробу, чи відхилення від його початкових технічних параметрів, що може позначитись на його працездатності протягом терміну придатності.

      p #[strong Гарантія і безкоштовне сервісне обслуговування не поширюються на вироби, несправності яких виникли внаслідок:]
      
      ol
        li Порушення споживачем правил експлуатації, зберігання і транспортування товару;
        li Механічного пошкодження виробу чи його комплектуючих, деформації корпусу;
        li Дії третіх осіб;
          ul
            li ремонт чи внесення несанкціонованих виробником конструктивних або схемотехнічних змін неуповноваженими на те особами;
            li відхилення від Державних Стандартів (ДСТУ) та норм мереж живлення, уземлення, телекомунікаційних та кабельних мереж;
            li неправильного встановлення та підключення виробу, в тому числі використання його сполучено з виробами, на які не поширюється дана гарантія, чи дані дії не санкціоновано Виробником;
        li Допущення перенавантаження в ході експлуатації;
        li Дії непереборних сил (стихійні лиха, пожежа, блискавка і т. ін.);
        li Впливу шкідливих програм (наприклад, комп'ютерних вірусів);
        li Некоректного оновлення bios (для комп’ютерних систем), програмного забезпечення, що призвело до непрацездатності виробу як самим користувачем, так і неуповноваженими на те особами.

      p Періодичне обслуговування виробу, у тому числі налаштування, чищення, заміна витратних матеріалів і т.д. не є гарантійним сервісним обслуговуванням, і здійснюється спеціалізованими організаціями за додаткову оплату.

      p #[strong Гарантійному безкоштовному сервісному обслуговуванню не підлягають:]

      ul
        li Динамічні і конденсаторні головки мікрофонів, звукознімачі, зчитувальні оптичні й магнітні головки CD, DVD, VHS програвачів, голки вінілових програвачів, гучномовці навушників, високочастотні й низькочастотні гучномовці акустичних систем (динаміки), що поставляються як окремо, так і вмонтованими у виріб;
        li Комп’ютерні плати та звукові карти, програмне забезпечення;
        li пульти дистанційного керування, потенціометри, стрілкові та світлодіодні індикатори, елементи живлення,
        li щітки електро-двигунів, запобіжники тощо;
        li окремі блоки живлення, трансформатори, димери, фільтри електричної напруги, стабілізатори напруги, зарядні пристрої;
        li лампи розжарювання, світлодіоди, радіолампи, що постачаються як окремо, так і вмонтованими у виріб;
        li кабелі, дроти, сполучні роз’єми (конектори) всіх типів, що постачаються як окремо, так і вмонтованими у виріб;
        li чохли, футляри, ремені, тросики (в тому числі передавальні тросики обертових механізмів), світлофільтри, оптичні лінзи, сумки, струни та інші витратні матеріали;

      p Гарантійне безкоштовне сервісне обслуговування здійснюється лише в сервісному центрі вказаному в гарантійному талоні. Щоб уникнути можливих непорозумінь, зберігайте протягом всього терміну придатності, особливо протягом гаратнійного терміну, всі документи, що додаються до товару під час його продажу (товарний чек, інструкція з експлуатації, гарантійний талон). Безкоштовне сервісне обслуговування не здійснюється у разі втрати даного гарантійного талону. Виробник та Продавець не несуть жодної відповідальності за втрату Користувачем внаслідок використання виробу будь-якої конфіденційної чи особистої інформації.

      p Дана гарантія не обмежує законних прав споживача, наданих йому законодавством України. завантажити гарантiйний талон