.header-controls.d-none.d-md-flex

  .header-control.header-control__sort
    label.header-control__title(for="sort-by") Сортировка
    select.js-select-default#sort-by
      option(value="sort-1") По рейтингу
      option(value="sort-2") По цене
      option(value="sort-3") В наличии
      option(value="sort-4") Популярные

  .header-control.header-control__show
    label.header-control__title(for="show-by-select") На странице
    select.js-select-default#show-by-select
      option(value="type-1") 1-24
      option(value="type-2") 24-48
      option(value="type-3") 48-72

  .header-control
    include ../components/view-modes

.header-controls.d-md-none

  .header-control
    a.filter-toggle.js-filter-toggle(href="#") 
      +icon('funnel', 'filter-toggle__icon')
      span.filter-toggle__text Фильтры

  .header-control
    a.sort-by.js-sort-by-toggle(href="#") 
      +icon('sort', 'sort-by__icon')
      span.filter-toggle__text Сортировка

    +b.sort-by-window.d-md-none
      +e.header
        +icon('sort', 'sort-by-window__icon')
        +e.SPAN.text Сортировка
        +e.close
          +icon('close', 'sort-by-window__close-icon')
      +e.body
        +e.option.radio-label
          input.radio-label__input(type="radio" value="sort-type-1" name="sort-type" id="sort-type-1")
          label.radio-label__main(for="sort-type-1") По алфавиту
        +e.option.radio-label
          input.radio-label__input(type="radio" value="sort-type-2" name="sort-type" id="sort-type-2")
          label.radio-label__main(for="sort-type-2") Подороже
        +e.option.radio-label
          input.radio-label__input(type="radio" value="sort-type-3" name="sort-type" id="sort-type-3")
          label.radio-label__main(for="sort-type-3") Подешевле
        +e.option.radio-label
          input.radio-label__input(type="radio" value="sort-type-4" name="sort-type" id="sort-type-4")
          label.radio-label__main(for="sort-type-4") Новинки
        +e.option.radio-label
          input.radio-label__input(type="radio" value="sort-type-5" name="sort-type" id="sort-type-5")
          label.radio-label__main(for="sort-type-5") По рейтингу