include ../components/contact-line
include ../components/search-form
include ../components/header-utility
include ../components/dropdown-products-list
include ../components/select

mixin header()

  +b.HEADER.header
    .container-fluid
      +e.main
        +logo(logoIndex, 'header__logo')

        +contact-line({
          icon: 'customer-service',
          title: 'Клиент сервис:',
          info: [
            {
              href: 'tel:+37379022033',
              text: '+373 79 022 033'
            }
          ]
        }, 'header__contact-line')

        +e.search-bar

          +b.BUTTON.toggle-navbar(type="button")
            +e.SPAN.line
            +e.SPAN.line

          +search-form('header__search-form')
        
        // header-utilities
        .header__utilities

          +header-utility({
            icon: 'user'
          })

          +header-utility({
            icon: 'heart'
          })

          +header-utility({
            icon: 'shopping-cart',
            quantity: 11
          })
            .header-utility__dropdown
              .header-utility__dropdown-body.js-custom-scroll
                +dropdown-products-list()
              .header-utility__dropdown-footer
                a.header-utility__dropdown-footer-btn.btn.btn--reverse(href="#") Перейти в корзину
        // /header-utilities

        .navbar-section__lang.d-md-none
          +select([
            {
              value: 'ru',
              optionText: 'Ru'
            },
            {
              value: 'ro',
              optionText: 'Ro'
            },
            {
              value: 'en',
              optionText: 'Eng'
            },
            {
              value: 'ua',
              optionText: 'Ua'
            },
            {
              value: 'md',
              optionText: 'Md'
            }
          ], 'select-lang header__select-lang', 'custom', 'js-select-region')

  .navbar-section

    .container-fluid

      .navbar-section__main

        .navbar-section__navbar
          include ../components/main-nav

        .navbar-section__lang.d-none.d-md-block
          +select([
            {
              value: 'ru',
              optionText: 'Ru'
            },
            {
              value: 'ro',
              optionText: 'Ro'
            },
            {
              value: 'en',
              optionText: 'Eng'
            },
            {
              value: 'ua',
              optionText: 'Ua'
            },
            {
              value: 'md',
              optionText: 'Md'
            }
          ], 'select-lang header__select-lang', 'custom', 'js-select-region')