@charset 'UTF-8';

// 1.Abstracts (Configuration and Helpers)
@import "abstracts/mixins";
@import "abstracts/functions";
@import "abstracts/variables";

// 2.Vendors
@import "../../../node_modules/bootstrap/scss/bootstrap-grid.scss";
@import "../../../node_modules/swiper/swiper.scss";
@import "../../../node_modules/lightgallery.js/src/sass/lightgallery.scss";
@import "../../../node_modules/choices.js/src/styles/choices.scss";

// 2.Vendors-extensions
@import "vendors-extensions/bootstrap";
@import "vendors-extensions/choices.scss";
@import "vendors/nouislider.scss";
@import "vendors/drift-basic.scss";
@import "vendors/simplebar.scss";

// 3.Base stuff
@import "base/base"; // maybe reset
@import "base/utilities"; // aka helpers
@import "base/fonts";
@import "base/typography";
@import "base/forms";
@import "base/table";
@import "base/animations";
@import "base/print";
@import "base/ui-demo";

// 5.Components
@import "components/buttons";
@import "components/icons";
@import "components/news";
@import "components/category";
@import "components/tooltip";
@import "components/soc";
@import "components/footer-collapse";
@import "components/contact-line";
@import "components/search-form";
@import "components/navbar";
@import "components/header-utility";
@import "components/dropdown-products-list";
@import "components/select-lang";
@import "components/breadcrumbs";
@import "components/brands-filter";
@import "components/brand-item";
@import "components/product";
@import "components/pagination";
@import "components/ui-slider";
@import "components/filter";
@import "components/view-modes";
@import "components/category-nav";
@import "components/product-preview";
@import "components/advantages";
@import "components/product-main-promo";
@import "components/card-feature";
@import "components/params";
@import "components/fast-buy";
@import "components/rate";
@import "components/counter";
@import "components/product-details";
@import "components/sort-by-window";
@import "components/auth-wins";
@import "components/product-line";
@import "components/reviews";

// 4.Layout
@import "layout/header";
@import "layout/footer";
@import "layout/sidebar";
@import "layout/section";
@import "layout/catalog-header-controls";
@import "layout/showed-products-section";
@import "layout/brands";
@import "layout/tabs";
@import "layout/carousels";
@import "layout/goods-interactive";
@import "layout/promo-carousel";
@import "layout/navbar-section";
@import "layout/subscribe";

// 6.Pages (page-specific styles)
//@import 'pages/home'

// 7.Themes
// @import 'themes/default';




.files-list {
  &__file {
    padding: 2rem 0;
    border-bottom: 1px dotted #e6e6e6;

    &:first-child {
      border-top: 1px dotted #e6e6e6;
    }

    @media (min-width: $sm) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__heading {
    max-width: 28rem;
    line-height: 1.3;
    margin-bottom: 1rem;

    @media (min-width: $sm) {
      margin-bottom: 0;
    }
  }

  &__meta {
    @media (min-width: $sm) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-width: 24rem;
    }

    @media (min-width: $md) {
      min-width: 26rem;
    }
  }

  &__format {
    font-weight: 500;
    color: #9a9a9a;
    font-size: 1.4rem;
    display: block;
    margin-bottom: 1rem;

    @media (min-width: $sm) {
      display: inline;
      margin-bottom: 0;
    }

    i {
      font-size: 1.6rem;
      margin-right: .5rem;
    }
  }

  &__download {
    line-height: 1;
    padding-top: .8rem;
    padding-bottom: .8rem;

    @media (min-width: $sm) {
      margin-left: 10rem;
    }
  }

  .fa-file-word {
    color: #008ddf;
  }

  .fa-file-excel {
    color: #00b147;
  }

  .fa-file-pdf {
    color: #ff533d;
  }

  .fa-cog {
    color: #2dd7e0;
  }
}