@charset 'UTF-8';

// 1.Abstracts (Configuration and Helpers)
@import "abstracts/mixins";
@import "abstracts/functions";
@import "abstracts/variables";

// 2.Vendors
@import "../../../node_modules/bootstrap/scss/bootstrap-grid.scss";
@import "../../../node_modules/swiper/swiper.scss";
@import "../../../node_modules/lightgallery.js/src/sass/lightgallery.scss";
@import "../../../node_modules/choices.js/src/styles/choices.scss";

// 2.Vendors-extensions
@import "vendors-extensions/bootstrap";
@import "vendors-extensions/choices.scss";
@import "vendors/nouislider.scss";
@import "vendors/drift-basic.scss";
@import "vendors/simplebar.scss";

// 3.Base stuff
@import "base/base"; // maybe reset
@import "base/utilities"; // aka helpers
@import "base/fonts";
@import "base/typography";
@import "base/forms";
@import "base/table";
@import "base/animations";
@import "base/print";
@import "base/ui-demo";

// 5.Components
@import "components/buttons";
@import "components/icons";
@import "components/news";
@import "components/category";
@import "components/tooltip";
@import "components/soc";
@import "components/footer-collapse";
@import "components/contact-line";
@import "components/search-form";
@import "components/navbar";
@import "components/header-utility";
@import "components/dropdown-products-list";
@import "components/select-lang";
@import "components/breadcrumbs";
@import "components/brands-filter";
@import "components/brand-item";
@import "components/product";

// 4.Layout
@import "layout/header";
@import "layout/footer";
// @import "layout/sidebar";
@import "layout/section";

// 6.Pages (page-specific styles)
//@import 'pages/home'

// 7.Themes
// @import 'themes/default';




.tabs {
  $self: &;

  /* Tabs Items */
  &__header {
    text-align: center;
  }

  &__list {
    display: inline-flex;
    list-style: none;
    margin: 0;
    white-space: nowrap;
  }

  &__item {
    font-size: 1.4rem;
    position: relative;

    &:not(:first-child)::before {
      content: "";
      position: absolute;
      left: 0;
      height: 2rem;
      top: 50%;
      transform: translateY(-50%);
      border-left: 1px solid #9a9a9a;
    }
  }

  &__link {
    display: block;
    padding: 1.5rem 2rem;
    cursor: pointer;
    transition: all .3s;
    color: #9a9a9a;

    &:hover {
      color: $black;
      text-decoration: none;

      &::before {
        background: $white;
      }
    }

    &.is-active {
      cursor: default;
      color: $black;
      font-weight: 500;
    }
  }
  /* Tabs Items */

  /* Tabs Body */
  &__panes {}

  &__tab-pane {
    padding: 3rem 0;
    display: none;

    &.is-active {
      display: block;
    }
  }
  /* Tabs Body */
}




.products-promo-section {
  [class*="col-"] { 
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  /*[class*="col-"]:not(:nth-child(-n+3)) {
    padding-top: 3rem;
  }*/

  .tabs__tab-pane {
    padding-bottom: 0;
    padding-top: 2rem;
  }
}


.advantages-section {
  padding: 0 0 2rem;

  .container-fluid {
    background: inherit;

    @media (min-width: $md) {
      padding-left: 5rem;
      padding-right: 5rem;
    }
  }

  [class*="col-"] {
    margin-top: 2.5rem;
  }
}

.advantage {
  line-height: 1.3;
  white-space: nowrap;
  max-width: 30rem;
  margin: 0 auto;

  &__img-wrap {
    display: inline-block;
    vertical-align: middle;
    width: 5rem;
    height: 5rem;
  }

  &__icon {
    fill: $primary-color;
    width: 100%;
    height: 100%;
  }

  &__desc {
    display: inline-block;
    vertical-align: middle;
    margin-left: 1.5rem;
    max-width: 22rem;
    white-space: normal;

    @media (min-width: $lg) {
      margin-left: 3.5rem;
    }
  }

  &__heading {
    color: $white;
    font-weight: 600;
  }

  &__note {
    color: #9a9a9a;
    font-size: 1.4rem;
  }

  &__tooltip {
    color: $primary-color;
    font-size: 1.4rem;
    cursor: pointer;
    margin-left: .5rem;
  }
}




.goods-interactive-section {
  @media (max-width: $lg--mw) {
    margin: 0 -3rem;
    padding-bottom: 0;
  }
}

.goods-interactive {
  @media (min-width: $lg) {
    display: flex;
    max-height: 52rem;
  }

  &__room-area {
    @media (min-width: $lg) {
      flex-basis: 68%;
      max-width: 68%;
      flex-shrink: 0;
      max-height: 100%;
    }
  }

  &__room-area-img-dimension {
    position: relative;
    padding-top: 69%;

    @media (min-width: $lg) {
      max-height: 100%;
      height: 100%;
    }
  }

  &__products-area {
    @media (min-width: $lg) {
      flex-basis: 32%;
      max-width: 32%;
      max-height: 100%;
    }

    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 5rem;
      background: linear-gradient(transparent, $white);
      z-index: 2;
      bottom: 0;
    }
  }

  &__products-area-body {}

  &__img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }

  .js-custom-scroll {
    max-height: 50rem;

    @media (min-width: $lg) {
      max-height: 100%;
      height: 100%;
    }
  }
}

.js-custom-scroll {
  overflow-y: auto;
  overflow-x: hidden;
}


.product-preview {
  $self: &;

  display: flex;
  align-items: center;
  padding: 3rem 2.5rem;
  background: $white;
  transition: all .3s;

  &:not(:first-child) {
    border-top: 1px solid #e7e7e7;
  }

  &:hover {
    box-shadow: 0 0 2rem rgba($black, 0.08);

    #{$self}__heading-link {
      color: $primary-color;
    }

    #{$self}__header::after {
      background-color: $primary-color;
    }
  }

  &__header {
    max-width: 12rem;
    flex-basis: 12rem;
    flex-shrink: 0;
    position: relative;
    padding-right: 2rem;

    &::after {
      content: "";
      height: 6.5rem;
      width: .3rem;
      background: #e7e7e7;
      right: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      transition: all .3s;
    }
  }

  &__main {
    flex-grow: 1;
    padding-left: 2rem;
  }

  &__img-wrap {
    width: 9rem;
    height: 9rem;
    display: block;
    position: relative;
  }
  
  &__img {
    max-width: 100%;
    max-height: 100%;

    @include absolute-center;
  }

  &__heading {
    margin-bottom: 1.5rem;
  }
  
  &__heading-link {
    color: #303030;
    transition: all .3s;
  }
  
  &__price {
    font-size: 1.8rem;
    color: $black;
    font-weight: 500;
  }

  &--row {
    padding: 1.5rem;
    display: block;
    text-align: center;
    
    &.product-preview {
      border: none;
    }

    #{$self}__header {
      margin: 0 auto 2rem;
      padding-right: 0;
      padding-bottom: 2rem;

      &::after {
        content: "";
        height: .3rem;
        width: 6.5rem;
        right: auto;
        top: 100%;
        left: 50%;
        transform: translate(-50%, .3rem);
      }
    }

    #{$self}__main {
      padding: 0;
    }

    #{$self}__heading {
      height: 5rem;
      margin-bottom: .5rem;
      line-height: 1.2;
      overflow: hidden;
      font-size: 1.4rem;
    }

    #{$self}__img-wrap {
      margin: 0 auto;
    }

    #{$self}__price {
      font-size: 1.6rem;
    }
  }
}



.js-interactive-carousel {
  visibility: hidden;
  opacity: 0;
  transition: all .3s;

  &.swiper-container-initialized {
    opacity: 1;
    visibility: visible;
  }

  .swiper-pagination-bullets {
    padding-top: 3rem;
    padding-bottom: 3rem;

    @media (min-width: $lg) {
      padding-bottom: 0;
    }
  }
}

.swiper-pagination-bullets {
  text-align: center;

  .swiper-pagination-bullet {
    width: 1.6rem;
    height: 1.6rem;
    border: 1px solid #e7e7e7;
    display: inline-block;
    margin: 0 .5rem;
    cursor: pointer;
    position: relative;
    outline: none;

    &-active {
      cursor: default;

      &::after {
        content: "";
        width: .8rem;
        height: .8rem;
        background-color: $primary-color;

        @include absolute-center;
      }
    }
  }
}







.subscribe {
  background: #212121;
  padding: 1.5rem 0;

  .container-fluid {
    background: inherit;

    @media (min-width: $md) {
      padding: 0 3rem;
    }
  }

  &__body {
    @media (min-width: $md) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__form {
    margin-bottom: 1.5rem;

    @media (min-width: $md) {
      flex-grow: 1;
      margin-bottom: 0;
    }
  }
  
  &__soc {
    white-space: nowrap;
    text-align: center;

    @media (min-width: $md) {
      text-align: left;
    }
  }
}



.subscribe-form {
  color: $white;

  @media (min-width: $md) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__header {
    margin-bottom: 1.5rem;
    text-align: center;

    @media (min-width: $md) {
      margin-bottom: 0;
      text-align: left;
    }
  }

  &__title {
    text-transform: uppercase;
    position: relative;
    padding-bottom: 2rem;

    &::after {
      content: "";
      width: 2.5rem;
      height: .2rem;
      background: $primary-color;
      position: absolute;
      left: 50%;
      bottom: 1rem;
      transform: translateX(-50%);
    }

    @media (min-width: $md) {
      display: inline-block;
      vertical-align: middle;
      padding-bottom: 0;
      padding-right: 2rem;
      margin-right: 2rem;

      &::after {
        content: "";
        width: .2rem;
        height: 2.5rem;
        background: $primary-color;
        position: absolute;
        right: 0;
        bottom: auto;
        left: auto;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  
  &__note {
    font-size: 1.4rem;
    vertical-align: middle;
    display: inline-block;
    max-width: 29rem;
  }
  
  &__field {
    display: flex;
    flex-grow: 1;
    padding: 0 1.5rem;

    @media (min-width: $md) {
      padding: 0 2.5rem;
    }
  }
  
  &__input {
    flex-grow: 1;
    background: #212121;
    border-color: #4e4e4e;
    color: $white;
  }

  &__btn {
    flex-shrink: 0;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 500;
  }
}






.brands-carousel-wrap {
  padding: 2.5rem 0;
}

.brands-carousel {
  opacity: 0;
  visibility: hidden;
  transition: all .3s;

  &.swiper-container-initialized {
    opacity: 1;
    visibility: visible;
  }
}

.brand {
  $self: &;

  max-width: 17rem;
  margin: 0 auto;
  display: block;
  height: 100%;

  &:hover {
    #{$self}__img {
      filter: grayscale(0%);
      opacity: 1;
    }
  }

  &__main {}

  &__img-wrap {
    height: 6rem;
    position: relative;
  }

  &__img {
    max-height: 100%;
    filter: grayscale(100%);
    transition: all .5s ease-in-out;
    // opacity: .5;

    @include absolute-center;
  }
}




.js-promo-carousel {
  visibility: hidden;
  opacity: 0;
  transition: all .3s;

  &.swiper-container-initialized {
    opacity: 1;
    visibility: visible;
  }
}

.promo-carousel-wrap {
  position: relative;

  .promo-carousel__prev,
  .promo-carousel__next {
    opacity: .5;
    transition: all .3s;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    cursor: pointer;
    outline: none;
    cursor: pointer;
    display: none;

    @media (min-width: $md) {
      display: block;
    }

    &:hover {
      opacity: 1;
    }

    &-icon {
      width: 6rem;
      height: 6rem;
      fill: $white;

      @media (min-width: $xlg) {
        width: 8rem;
        height: 8rem;
      }

      @media (min-width: $xlg) {
        width: 12rem;
        height: 12rem;
      }
    }
  }

  .promo-carousel__prev {
    left: 2rem;
  }

  .promo-carousel__next {
    right: 2rem;
  }

  .promo-carousel__pagination {
    padding: 1.5rem 1.5rem;
    width: 100%;
    text-align: center;
    max-width: $layout-max-width;
    border-bottom: 1px dotted #4f4f4f;

    @media (min-width: $md) {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 0;
      z-index: 2;
      padding: 2.5rem 7rem;
      text-align: right;
    }
  }
}

.promo-slide {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;

  &__desc {
    padding: 3rem 0;

    position: relative;

    @media (min-width: $sm) {
      width: 50%;
      padding: 4rem 0;
    }

    &::after {
      content: "";
      width: 90%;
      background: #1e2025;
      height: 100%;
      position: absolute;
      left: 0%;
      top: 0;
      bottom: 0;
      transform: skewX(25deg);
      // border-left: 1rem solid $primary-color;
      // border-right: 1rem solid $primary-color;
      z-index: 2;
      // transform-origin: 0 0;
    }

    &::before {
      content: "";
      background: linear-gradient(to right bottom, 
        transparent 0%, 
        transparent 10%, 
        $primary-color 10%, 
        $primary-color 90%, 
        transparent 90%
      );
      position: absolute;
      left: -1rem;
      top: 0;
      bottom: 0;
      transform: skewX(25deg);
      width: calc(90% + 2rem);
      z-index: 1;
    }
  }

  .container-fluid {
    background: transparent;
  }

  &__product {
    position: relative;
    z-index: 3;
  }
  
  &__img-wrap {
    min-height: 20rem;
    position: relative;
    display: flex;
    height: 1px;

    @media (min-width: $md) {
      min-height: 34.5rem;
    }
  }
  
  &__img {
    margin: auto;
    max-height: 100%;
  }

  &__info {
    text-align: right;
    // padding: 6rem 0 3rem;
    padding: 0 0 0 5rem;
    min-height: 15.5rem;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }

  &__brand {
    margin: 0 0 0 auto;
    max-height: 3rem;

    @media (min-width: $md) {
      max-height: 5rem;
    }
  }

  &__info-heading {
    font-weight: 600;
    color: $white;
    font-size: 2.8rem;
    margin-top: 1rem;
    line-height: 1.1;

    @media (min-width: $md) {
      font-size: 4rem;
    }
  }

  &__info-desc {
    font-size: 1.4rem;
    color: #9a9a9a;

    @media (min-width: $md) {
      font-size: 1.6rem;
    }
  }
}


.swiper-slide {
  .promo-slide__img-wrap {
    opacity: 0;
  }

  .promo-slide__info {
    opacity: 0;
  }
}

.swiper-slide-active {
  .promo-slide__img-wrap {
    animation: fadeInUp 1s forwards;
  }

  .promo-slide__info {
    animation: fadeInUp 1s .5s forwards;
  }
}










.navbar-section {
  background: $white;

  .container-fluid {
    background: transparent;
  }

  &__main {
    display: flex;
  }

  &__navbar {
    position: relative;
    flex-grow: 1;

    @media (min-width: $md) {
      margin-right: 2rem;
    }
  }

  &__lang {}
}








/* BRANDS */
.conclude-section {
  .section__body {
    max-width: 91rem;
    margin: 0 auto;
  }

  .section__body > *:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  p {
    font-size: 1.4rem;
    color: #9a9a9a;
  }
}

.abc-index {
  text-align: center;

  &__list:not(:first-child) {
    margin-top: 1rem;
  }

  &__item {
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.8rem;
    margin: 0 .5rem;
  }

  &__link {
    color: #cdcdcd;
    transition: all .3s;

    &:hover {
      color: $primary-color;
      font-weight: 500;
    }
  }
}

.brands-section {
  .section__body > *:not(:last-child) {
    margin-bottom: 4.5rem;
  }

  &__brands-filter {
    margin-left: -30px;
    margin-right: -30px;
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.brands-list {
  &__header {
    border-bottom: 1px dotted #e6e6e6;
    margin-bottom: 2.5rem;
  }

  &__heading {
    font-size: 3rem;
    color: $primary-color;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    width: 4.5rem;
    height: 4.5rem;
    line-height: 4rem;
    border: 2px solid $primary-color;
    position: relative;
    top: 1px;

    &::after {
      content: "+";
      width: 2rem;
      height: 2rem;
      position: absolute;
      right: -1rem;
      bottom: -1rem;
      color: $primary-color;
      background: $white;
      line-height: 2rem;
    }
  }

  &__body {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1.3rem;
  }

  &__brand {
    flex-basis: 50%;
    max-width: 50%;
    padding: 1.3rem;

    @media (min-width: $sm) {
      flex-basis: 33.333%;
      max-width: 33.333%;
    }

    @media (min-width: $md) {
      flex-basis: 20%;
      max-width: 20%;
    }

    @media (min-width: $lg) {
      flex-basis: 16.666%;
      max-width: 16.666%;
    }
  }
}



.promo-desc-intro {
  font-size: 1.4rem;
  text-align: center;
  max-width: 90rem;
  margin: 0 auto;
}

.showed-products-section {
  padding: 2.5rem;

  @media (min-width: $md) {
    padding: 3.5rem;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1.5rem;
  }

  &__col {
    flex-basis: 50%;
    max-width: 50%;

    @media (min-width: $sm) {
      flex-basis: 33.333%;
      max-width: 33.333%;
    }

    @media (min-width: $md) {
      flex-basis: 20%;
      max-width: 20%;
    }

    @media (min-width: $lg) {
      flex-basis: 16.666%;
      max-width: 16.666%;
    }
    padding: 1.5rem;
  }
}



.brand-intro-section {
  border-bottom: 1px dotted #e7e7e7;

  &__brand {
    max-width: 98rem;
    margin: 0 auto;

    @media (min-width: $md) {
      display: flex;
      align-items: center;
    }
  }

  &__logo {
    display: none;

    @media (min-width: $md) {
      max-width: 30%;
      flex-basis: 30%;
      // padding-right: 5rem;
      display: block;
    }
  }

  &__about {
    @media (min-width: $md) {
      max-width: 70%;
      flex-basis: 70%;
      padding-left: 5rem;
    }
  }

  &__img-wrap {
    height: 13.5rem;
    max-width: 16rem;
    position: relative;
    margin: 0 auto;
  }

  &__img {
    position: absolute;
    max-height: 100%;

    @include absolute-center;
  }

  &__about-main {
    position: relative;

    &::before {
      content: "";
      width: 0;
      height: 100%;
      position: absolute;
      left: -5rem;
      top: 0;
      border-left: 1px dotted #e6e6e6;
    }
  }

  &__heading {
    font-weight: 600;
    margin-bottom: 1.5rem;
    font-size: 1.6rem;
  }

  &__desc {
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
  }

  &__url {
    font-size: 1.4rem;
    color: $primary-color;

    &:hover {
      text-decoration: underline;
    }
  }
}

.catalog-main-section {
  padding-bottom: 1rem;

  @media (min-width: $md) {
    padding-bottom: 2rem;
  }

  .section__body > .row [class*="col-"] {
    padding-bottom: 3rem;
  }
}
/* BRANDS */